:root{
    --border: 1px solid black;
    --border-radius-primary: 12px;
    --border-radius-secondary: 4px;
}

body{
    background-color: bisque;
    margin:0;
}
.parent-flex-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
}
.calculator-body{
    height: 40rem;
    width: 20vw;
    background-color: rgb(160, 211, 237);
    border: var(--border);
    border-radius: var(--border-radius-primary);

    padding:1rem;
}
.calculator-screen{
    height: 110px;
    width:contain;
    color: black;
    background-color: white;
    border: var(--border);
    border-radius: var(--border-radius-secondary);
    margin: 1rem auto;
}
.calculations{
    padding-left: 2rem;
    font-size: 22px;
    margin: 14px 0;
}
.result{
    font-size: 28px;
    text-align: right;
    margin-top: 0;
    padding-right: 2rem;
}
.buttons{
    margin-top: 2rem;
    
    height: inherit;
    width: 100%;
    margin: auto;
}
.flex-container{
    display: flex;
    gap:1.2rem;
    margin-top: 1rem;
}
.flex-item{
    height:80px;
    width: 80px;
    
    color: white;
    background-color: rgb(175, 175, 223);
    font-size: 24px;
    border: var(--border);
    cursor: pointer;

    border-radius: var(--border-radius-primary);
    
    display:flex;
    align-items: center;
    justify-content: center;
}
.operator{
    background-color: rgb(91, 91, 255);
    color: white;
}
.flex-item:hover{
    color:black;
    background: white;
}

