:root{
    --color-primary: rgb(170, 170, 170);
}

*{
    margin:0;
}
body {
    background-color: #0c3100;
background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}
.title{
    text-align: center;
    margin: 1rem auto;
    height: 6rem;
    width: 60rem;
    padding-top:3rem;

    background-color: var(--color-primary);
    color: rgb(32, 32, 32);
    box-shadow: black;
    border-radius: 12px;
}
.divider{
    width: 60rem;
    border: 1px solid rgb(216, 216, 216);
    margin: auto;
    margin-bottom: 1rem;
}
.contentContainer{
    height: 43rem;
    width: 60rem;
    padding-top: 1rem;
    margin: auto;
    border-radius: 12px;
    background-color: var(--color-primary);
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding-left: 4rem;
    width: 57.4rem;
    height: 4rem;
}
.inputForm {
    height: 2rem;
    width: 25rem;
    padding-left: 1rem;
    background-color: rgb(207, 207, 207);
    border-radius: 0;
    font-size: 18px;
    border:none;
}
.inputForm:focus{
    border-bottom: 2px solid black;
    outline: none;
}
.plan-btn{
    font-size: 16px;
    height: 2.1rem;
    width: 8rem;
    border-radius: 4px;
    border: 1px solid black;
}
.plan-btn:hover{
    background-color: black;
    color: white;
    outline: none;
    border:none;
}
.tasksDivider{
    border: 1px solid black;
    width: 50rem;
    margin: auto;
}
.tasks{
    height: 36rem;
    width: 50rem;
    margin: auto;
    margin-top: 2rem;
}
.myList{
    list-style: none;
    width: 50rem;
    padding: 0;
}
.list-item{
    display:flex;
    justify-content: space-between;
    font-size: 24px;
    width: 50rem;
    margin:0;
    cursor:pointer;
}
input[type="checkbox"]{
    height:15px;
    width: 15px;
}
.edit-btn,.delete-btn{
    padding: 0.4rem 0.1rem;
    border-radius: 0;
    font-size: 16px;
    color: red;
    background-color: var(--color-primary);
    border:none;
}
.edit-btn{
    color: green;
    margin-right: 10px;
}
.edit-btn:hover,.delete-btn:hover{
    /* background-color: red; */
    /* color: white; */
    text-decoration: underline;
    cursor: pointer;
}
.checked{
    text-decoration: line-through;
}