*{
    margin:0;
}
.title{
    text-align: center;
    margin: 1rem auto;
    height: 6rem;
    width: 60rem;
    padding-top:3rem;

    background-color: rgb(236, 234, 234);
    box-shadow: black;
    border-radius: 12px;
}
.divider{
    width: 60rem;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 1rem;
}
.contentContainer{
    height: 43rem;
    width: 60rem;
    padding-top: 1rem;
    margin: auto;
    border-radius: 12px;
    background-color: rgb(236, 234, 234);
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding-left: 4rem;
    width: 57.4rem;
    height: 4rem;
}
.inputForm {
    height: 2rem;
    width: 25rem;
    padding-left: 1rem;
    background-color: rgb(207, 207, 207);
    border-radius: 0;
    font-size: 18px;
}
.inputForm:focus{
    border-bottom: 2px solid black;
    outline: none;
}
.plan-btn{
    font-size: 16px;
    height: 2.1rem;
    width: 8rem;
    border-radius: 4px;
    border: 1px solid black;
}
.plan-btn:hover{
    background-color: black;
    color: white;
    outline: none;
    border:none;
}
.tasksDivider{
    border: 1px solid black;
    width: 50rem;
    margin: auto;
}
.tasks{
    height: 36rem;
    width: 50rem;
    margin: auto;
    margin-top: 2rem;
    background-color: grey;
}
.myList{
    list-style: none;
}
/* .plan-btn {
    font-size: 1rem;
    border:2px solid white;
    border-radius:99px;
    width:10rem;
    height:3rem;
    padding:-1.3rem;
    margin: 4% 10% 4% 1%;
    transition: .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: black;
    transform: translateX(5%);
}
.plan-btn:hover {
    width:15rem;
    background-color: white;
    box-shadow: -1px 5px 5px rgba(0,0,0,0.2);
    color: blue;
    transition:.2s;
}
.plan-btn:active {
    box-shadow: -1px 2px 5px rgba(0,0,0,0.2);
    transition: .04s
} */

body {
    background-color: rgb(161, 161, 161);
}
input {
    /* float: left;
    margin-top: -1.5rem; */
  
    /* margin-top: -1.25rem;
    margin-left: 1rem; */
    border: none;
    border-style: none;
    border-radius: 4px;
    width: 19rem;
    padding: -1.3rem;
    float: left;
    font-size: 13px;
}
ul,li{
    cursor: pointer;
    font-size: 17px;
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: left;
    transition: -1.2s;
    border-radius: 4px;
    margin-left: 1rem;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
li {
    background:#554;
}
li:nth-child(odd){
    background: white;
}
li:hover{
    background: black;
    color: white;
}
li.checked{
    text-decoration: line-through;
    color: #A1A0A0;
    background: #DCDCDC;
}
/* to add a check mark */
li.checked::before {
    content: '\2713';
    color:black;    
    position: absolute;
    height: 14px;
    width: 6px;
    left: 3rem;
    transform: rotate(4deg);
}
.close-btn{
    position: absolute;
    padding: .03rem 0.3rem;
    left: 43rem;
    border-radius: 4px;
}
.close-btn:hover{
    background-color: red;
    color: white;
}
  