*{
    margin:0;
}
body {
    background-color: rgb(161, 161, 161);
}
.title{
    text-align: center;
    margin: 1rem auto;
    height: 6rem;
    width: 60rem;
    padding-top:3rem;

    background-color: rgb(236, 234, 234);
    box-shadow: black;
    border-radius: 12px;
}
.divider{
    width: 60rem;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 1rem;
}
.contentContainer{
    height: 43rem;
    width: 60rem;
    padding-top: 1rem;
    margin: auto;
    border-radius: 12px;
    background-color: rgb(236, 234, 234);
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding-left: 4rem;
    width: 57.4rem;
    height: 4rem;
}
.inputForm {
    height: 2rem;
    width: 25rem;
    padding-left: 1rem;
    background-color: rgb(207, 207, 207);
    border-radius: 0;
    font-size: 18px;
    border:none;
}
.inputForm:focus{
    border-bottom: 2px solid black;
    outline: none;
}
.plan-btn{
    font-size: 16px;
    height: 2.1rem;
    width: 8rem;
    border-radius: 4px;
    border: 1px solid black;
}
.plan-btn:hover{
    background-color: black;
    color: white;
    outline: none;
    border:none;
}
.tasksDivider{
    border: 1px solid black;
    width: 50rem;
    margin: auto;
}
.tasks{
    height: 36rem;
    width: 50rem;
    margin: auto;
    margin-top: 2rem;
}
.myList{
    list-style: none;
    width: 50rem;
    padding: 0;
}
.list-item{
    display:flex;
    justify-content: space-between;
    font-size: 24px;
    width: 50rem;
    margin:0;
    cursor:poiner;
}
.list-item::before{
    content: '\2713';
    color: rgb(236, 234, 234);
}
.close-btn{
    padding: 0.4rem 0.1rem;
    border-radius: 0;
    font-size: 16px;
    color: red;
}
.close-btn:hover{
    /* background-color: red; */
    /* color: white; */
    text-decoration: underline;
    cursor: pointer;
}
li.checked{
    text-decoration: line-through;
    color: #A1A0A0;
    background: #DCDCDC;
}
li.checked::before {
    content: '\2713';
    color:black;    
    transform: rotate(4deg);
}
  